<div class="container">
    <div ng-show="vm.showLoader" class="CPajaxLoader">
        <img src="assets/images/ajax-loader.gif" />
    </div>
    <form role="form" id="rmb_approve_form_1"  class="form" name="form" >
        <uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">          {{alert.msg}}
        </uib-alert>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Please check before Approve <span class="fa fa-eye"></span>
                </h3>
            </div>
            <div class="panel-body">

                <div class="row  odd" >
                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col col-sm-5">
                                <label>Claim No:</label>
                            </div>
                            <div class="col col-sm-7">
                                {{vm.claimHeader.claimNo}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-8">
                        <div class="row">
                            <div class="col col-sm-2">
                                <label>Summary:</label>
                            </div>
                            <div class="col col-sm-10">
                                {{vm.claimHeader.remarks}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row even">
                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col col-sm-5">
                                <label>Claim Type:</label>
                            </div>
                            <div class="col col-sm-7">
                                {{vm.claimHeader.claimTypeName}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col col-sm-5">
                                <label>Created on:</label>
                            </div>
                            <div class="col col-sm-7">
                                {{vm.claimHeader.claimDate  | date:'mediumDate'}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4" ng-show="{{vm.claimHeader.claimType}}==4">
                        <div class="row" >
                            <div class="col col-sm-5" >
                                <label>Client Billable:</label>
                            </div>
                            <div class="col col-sm-7">
                                {{vm.claimHeader.clientBillable}}
                             </div>
                        </div>
                    </div>
                </div>

                <div class="row odd">
                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col col-sm-5">
                                <label>Designation:</label>
                            </div>
                            <div class="col col-sm-7">
                                {{vm.claimHeader.department}} 
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col col-sm-5">
                                <label>Claim period:</label>
                            </div>
                            <div class="col col-sm-7">
                                {{vm.claimHeader.periodFrom | date:'shortDate'}} <b> to </b> {{vm.claimHeader.periodTo | date:'shortDate'}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4">

                        <div class="row">
                            <div class="col col-sm-5">
                                <label>Currency:</label>
                            </div>
                            <div class="col col-sm-7">
                                {{vm.claimHeader.currencyCode}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row even">
                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col col-sm-5">
                                <label>Claimed by:</label>
                            </div>
                            <div class="col col-sm-7">
                                {{vm.claimHeader.employeeName}} 
                            </div>
                        </div>
                    </div>

                    <div class="col col-sm-4" ng-show="{{vm.claimHeader.claimType}}==4">
                        <div class="row">
                            <div class="col col-sm-5">
                                <label>Project:</label>
                            </div>
                            <div class="col col-sm-7">
                                {{vm.claimHeader.project}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <div class="row">
                            <div class="col col-sm-5">
                                <label>Claim Amount:</label>
                            </div>
                            <div class="col col-sm-7">
                                <i ng-class="{'fa fa-inr':vm.claimHeader.currencyCode=='INR', 'fa fa-usd':vm.claimHeader.currencyCode=='USD' || vm.claimHeader.currencyCode=='CAD' || vm.claimHeader.currencyCode=='MXN'}"></i> 
                                {{vm.claimHeader.claimedAmount}}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="border-style:inset;magin:0px;" ng-repeat="document in vm.cliamDocuments">
                    <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==1 || {{vm.claimHeader.claimType}}==5">
                        <div class="row"><div class="col-sm-12"><label>Particular</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.particulars}}</div></div>
                    </div>

                     
                   

                    <div class="col-sm-2">
                        <div class="row"><div class="col-sm-12"><label>Bill Date</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.billDate | date:'mediumDate'}}</div></div>
                    </div>

                     <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==2">
                        <div class="row"><div class="col-sm-12"><label>Location</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.visitedLocation}}</div></div>
                    </div>

                    <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==0">
                        <div class="row"><div class="col-sm-12"><label>Mode</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.mode}}</div></div>
                    </div>

                    <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==2">
                        <div class="row"><div class="col-sm-12"><label>Rate</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.rate}}</div></div>
                    </div>

                    <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==2">
                        <div class="row"><div class="col-sm-12"><label>Distance</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.distance}}</div></div>
                    </div>

                     <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==0">
                        <div class="row"><div class="col-sm-12"><label>Details</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.particulars}}</div></div>
                    </div>

                     <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==3 || {{vm.claimHeader.claimType}}==4">
                        <div class="row"><div class="col-sm-12"><label>Category</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.claimCategory}}</div></div>
                    </div>

                       <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==3 || {{vm.claimHeader.claimType}}==4">
                        <div class="row"><div class="col-sm-12"><label>Less Paid</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.lessPaidByCompany}}</div></div>
                    </div>


                    <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==1 || {{vm.claimHeader.claimType}}==5">
                        <div class="row"><div class="col-sm-12"><label>Bill Amount</label></div></div>
                        <div class="row"><div class="col-sm-12"><i ng-class="{'fa fa-inr':vm.claimHeader.currencyCode=='INR', 'fa fa-usd':vm.claimHeader.currencyCode=='USD' || vm.claimHeader.currencyCode=='CAD' || vm.claimHeader.currencyCode=='MXN'}"></i> {{document.expenseAmount}}</div></div>
                    </div>

                       <div class="col-sm-2" ng-show="{{vm.claimHeader.claimType}}==3 || {{vm.claimHeader.claimType}}==4">
                        <div class="row"><div class="col-sm-12"><label>Expense Amount</label></div></div>
                        <div class="row"><div class="col-sm-12"><i ng-class="{'fa fa-inr':vm.claimHeader.currencyCode=='INR', 'fa fa-usd':vm.claimHeader.currencyCode=='USD' || vm.claimHeader.currencyCode=='CAD' || vm.claimHeader.currencyCode=='MXN'}"></i> {{document.expenseAmount}}</div></div>
                    </div>

                    <div class="col-sm-2">
                        <div class="row"><div class="col-sm-12"><label>Claim Amount</label></div></div>
                        <div class="row"><div class="col-sm-12"><i ng-class="{'fa fa-inr':vm.claimHeader.currencyCode=='INR', 'fa fa-usd':vm.claimHeader.currencyCode=='USD' || vm.claimHeader.currencyCode=='CAD' || vm.claimHeader.currencyCode=='MXN'}"></i> {{document.claimAmount}}</div></div>
                    </div>

                    <div class="col-sm-3" ng-show="{{vm.claimHeader.claimType}}==1 || {{vm.claimHeader.claimType}}==5">
                        <div class="row"><div class="col-sm-12"><label>Remark</label></div></div>
                        <div class="row"><div class="col-sm-12">{{document.remarks}}</div></div>
                    </div>

                    <div class="col-sm-1" >
                      <div class="row"><div class="col-sm-12"><label>Bill</label></div></div>
                      <div class="row"> <a href="{{document._links.file.href}}"><span class="label label-primary">Download</span></a></div>
                    </div>

                </div>
                <br/>

                <div class="well well-sm">
                    <div class="table-responsive">
                        <table class="table table-primary table-hover">
                            <thead>
                                <tr >
                                    <th class="col-sm-3 text-center">
                                        Status
                                    </th>
                                    <th class="col-sm-3 text-center">
                                        Approver
                                    </th>
                                    <th class="col-sm-6 text-center">
                                        Remarks
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="approveDetail in vm.approveDetailList">
                                    <td class="text-center">{{approveDetail.claimStatus}}</td>
                                    <td class="text-center">{{approveDetail.managerName}}</td>
                                    <td class="text-center">{{approveDetail.remarks}}</td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-7">
                        <div class="col-sm-2"><label>Remarks</label></div>
                        <div class="col-sm-10">
                            <input type="text"  id="rmb_approve_txt_1" ng-model="vm.claimdata.remarks" class="form-control" placeholder="Remark (Max 50 Char)" maxlength="50" required >
                        </div>
                    </div>
                    <div class="col-sm-5 ">
                        <button class="btn btn-danger" id="rmb_approve_btn_reject" ng-click="vm.submit('reject')" ng-disabled="form.$invalid"><i class="fa fa-times-circle"></i> Reject </button>
                        <button class="btn btn-warning" id="rmb_approve_btn_hold" ng-click="vm.submit('hold')" ng-disabled="form.$invalid" ng-hide="vm.claimHeader.showClear =='false'"> <i class="fa fa-arrow-left"></i> Back</button>
                        <button class="btn btn-success"  id="rmb_approve_btn_approve" ng-click="vm.submit('approve')" ng-disabled="form.$invalid" ng-hide="vm.claimHeader.showClear =='true'"><i class="fa fa-check-circle"></i> Approve</button>
                        <button class="btn btn-info" id="rmb_approve_btn_forward" ng-click="vm.submit('forward')" ng-disabled="form.$invalid"> Forward <i class="fa fa-arrow-right"></i></button>
                        <button class="btn btn-success" id="rmb_approve_btn_cleared" ng-click="vm.submit('cleared')" ng-disabled="form.$invalid" ng-hide="vm.claimHeader.showClear =='false'"> Close <i class="fa fa-stop-circle-o"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<style type="text/css">
    .even{
        background-color: #F0F8FF
    }
    .odd{
        background-color: #F0FFFF
    }
    .CPajaxLoader {
        height: 100%;
        width: 100%;
        opacity: 1;
        background-color: rgba(255,255,255,.85);
        vertical-align: middle;
        text-align: center;
        display: block;
        z-index: 800;
        /*position: absolute;*/
        position:fixed;
        top:0!important;
        left: 0 !important;
        padding-top: 15%;
    }
</style>