<div ng-show="vm.showLoader" class="CPajaxLoader">
   	<img src="assets/images/ajax-loader.gif" />
</div>

<uib-tabset  id="rmb_dash_tabset_1">
	<uib-tab id="rmb_dash_tab_1">
		<uib-tab-heading>
        	<i class="fa fa-list-ol"></i> Your Requested Claims <span class="badge" style="background-color: #337AB7;">{{vm.claims.length}}</span>
      	</uib-tab-heading>
		<div class="row">
			<div class="col-lg-12">
				<rd-widget>
		      		<rd-widget-header icon="fa-tasks" title="Requested Claims">
						<input type="text" id="rmb_dash_txt_srch_1" placeholder="Search" style="border-radius: 15px; max-width: 250px;" ng-model="vm.searchText2" class="form-control " />
		      		</rd-widget-header>
		      		<rd-widget-body classes="no-padding">
						<div class="table-responsive" style="max-height:550px">
							<table id="rmb_dash_tbl_1" class="table table-hover">
								<tr ng-hide="!vm.isEmpty()">
								<td>No Claims </td></tr>
								<tbody >
									<tr class="specialApprove" 
									ng-repeat="cl in vm.claims | filter:vm.searchText2" 
									ng-class="{'primary':cl.status== 'Approved',
									'success':cl.status== 'Cleared',
									'info':cl.status== 'Draft',
									'warning':cl.status== 'Pending' && cl.specialApprove == false,
									'danger':cl.status== 'Reject',
									'specialApprove': cl.specialApprove == true}" 
									ng-hide="vm.isEmpty()" >
										<td><span uib-tooltip="claim No.">{{cl.claimNo}}</span></td>
										<td><span uib-tooltip="Claim Date">{{cl.claimDate}}</span></td>
										<td><span uib-tooltip="claim Type">{{cl.claimTypeName}}</span></td>
										<td>
											<span uib-tooltip="claimed amount"><i ng-class="{'fa fa-inr':cl.currencyCode=='INR', 'fa fa-usd':cl.currencyCode=='USD' || cl.currencyCode=='CAD' || cl.currencyCode=='MXN'}"></i> {{cl.claimedAmount}}</span>
										</td>
		                                <td><span uib-tooltip="currancy">{{cl.currencyCode}}</span></td>
		                                <td style="max-width:1500px"><span uib-tooltip="Summary">{{cl.remarks}}</span></td>
		                                <!-- <td><span uib-tooltip="status">{{cl.status}}</span></td> -->
										<td>
										<span uib-tooltip={{cl.status}} 
										ng-class="{
										'text-success':cl.status== 'Cleared',
										'text-primary':cl.status== 'Approved',
										'text-info':cl.status== 'Pending' || cl.status=='Draft',
										'text-danger':cl.status=='Reject'}">
										    <i ng-class="{
										    'fa fa-check':cl.status== 'Cleared', 
										    'fa fa-envelope':cl.status=='Draft',
										    'fa fa-exclamation-triangle':cl.status== 'Pending',
										    'fa fa-times ':cl.status== 'Reject',
										    'fa fa-arrow-right':cl.status== 'Forward',
										    'fa fa-thumbs-o-up':cl.status== 'Approved'}">	
										</i>
										</span>
										</td>
										<td >
											<button class="btn btn-success" ng-hide="vm.editStatus(cl.status)" uib-tooltip="Edit" ng-click="vm.open(cl.id,'lg',cl.status)">
												<i class="fa fa-pencil-square-o" ></i>
											</button>
										</td>
										<td>
											<button class="btn btn-danger" ng-hide="vm.editStatus(cl.status)" uib-tooltip="Delete" ng-click="vm.deleteClaim(cl.id)">
												<i class="glyphicon glyphicon-trash " ></i>
											</button>
										</td>
										<td>
											<a href="http://192.168.35.198:8080/ReibrsmntSvc/claims/report?claimId={{cl.id}}&format=pdf" class="btn btn-primary fa fa-arrow-circle-down" target="_self"> Pdf</a>
											<a href="http://192.168.35.198:8080/ReibrsmntSvc/claims/report?claimId={{cl.id}}&format=csv" class="btn btn-primary fa fa-arrow-circle-down fa-file-excel-o" target="_self"> Xls</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</rd-widget-body>
				</rd-widget>
			</div>
		</div>
	</uib-tab>
	<uib-tab id="rmb_dash_tab_2" ng-hide="vm.normUser()">
		<uib-tab-heading >
        	<i class="fa fa-tasks"></i> New Claim Requests <span class="badge" style="background-color: #337AB7;">{{vm.claimsToApprove.length}}</span>
      	</uib-tab-heading>
		<div class="row" ng-hide="vm.normUser()">
		    <div class="col-sm-12">
				<rd-widget>
					<rd-widget-header icon="fa-tasks" title="Claim Requests">
						<input type="text" id="rmb_dash_txt_srch_2" placeholder="Search" style="border-radius: 15px; max-width: 250px;" ng-model="vm.searchText1" class="form-control " />
					</rd-widget-header>
					<rd-widget-body classes="no-padding">
						<div class="table-responsive" style="max-height:475px">
							<table class="table" id="rmb_dash_tbl_2">
								
								<tbody>
									<tr ng-repeat="cl in vm.claimsToApprove | filter:vm.searchText1" ng-class="{'primary':cl.status== 'Approved','success':cl.status== 'Cleared','info':cl.status== 'Draft','warning':cl.status== 'Pending','danger':cl.status== 'Reject'}">
										<td>
											<span uib-tooltip="claim no">{{cl.claimNo}}</span>
										</td>
										<td>
											<span uib-tooltip="Claim Date">{{cl.claimDate}}</span>
										</td>
										<td>
											<span uib-tooltip="Employee Name">{{cl.employeeName}}</span>
										</td>
										<td>
											<span uib-tooltip="claim Type">{{cl.claimTypeName}}</span>
										</td>
										<td>
											<span uib-tooltip="claimed amount"><i ng-class="{'fa fa-inr':cl.currencyCode=='INR', 'fa fa-usd':cl.currencyCode=='USD' || cl.currencyCode=='CAD' || cl.currencyCode=='MXN', 'text-warning':cl.currencyCode=='Reject', 'fa fa-usd2':cl.currencyCode=='CAD1'}"></i> {{cl.claimedAmount}}</span>
										</td>
										<td>
											<span uib-tooltip="Currency">{{cl.currencyCode}}</span>
										</td>
										<td>
											<span uib-tooltip="Summary">{{cl.remarks}}</span>
										</td>
										<td>
											<span uib-tooltip={{cl.status}} ng-class="{'text-success':cl.status== 'Cleared','text-primary':cl.status== 'Approved','text-info':cl.status== 'Pending','text-danger':cl.status=='Reject'}">
											<i ng-class="{'fa fa-check':cl.status== 'Cleared','fa fa-exclamation-triangle':cl.status== 'Pending', 'fa fa-envelope':cl.status=='Draft','fa fa-times':cl.status== 'Reject','fa fa-arrow-right':cl.status== 'Forward','fa fa-thumbs-o-up':cl.status== 'Approved'}"></i>
											</span>
										</td>
										<td>
											<button class="btn btn-primary" data-ng-click="vm.claimDetails(cl.id)">
												<i class="fa fa-search-plus"></i>
												Details
											</button>
										</td>
									</tr>
		                             <tr ng-show="cl.expanded" ng-repeat-end="">
		                             <td colspan="7">{{cl.details}}</td>
		                            </tr>
								</tbody>
							</table>
		        		</div>
					</rd-widget-body>
					<div class="widget-footer" ng-show="vm.currentUser.department=='Finance'">
	  					<div class="row">
				      		<div class="col-md-12" style="text-align:center">
				      			<h4>Select date range to download status</h4>
				      		</div>
					    </div>
						<div class="row">
							<div class="col-md-5 col-sx-12">
								<label for="claimType" class="form-label col-md-4">From </label>
								<p class="input-group col-md-8">
									<input type="text" id="rmb_dash_txt_fromDate" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="vm.reportFrom" is-open="vm.reportFormPopup" min-date="" max-date="" close-text="Close" alt-input-formats="altInputFormats" placeholder='' ng-change="vm.reportFromChange()"/>
		      						<span class="input-group-btn">
		        						<button type="button" class="btn btn-default" ng-click="vm.datepickerPopupOpen('reportFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
		      						</span>
								</p>
							</div>
							<div class="col-md-5 col-sx-12">
								<label for="claimType" class="form-label col-md-4 col-sx-4">To </label>
								<p class="input-group col-md-8 col-sx-8">
									<input type="text" id="rmb_dash_txt_toDate" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="vm.reportTo" is-open="vm.reportToPopup" min-date="vm.minReportTo" max-date="" close-text="Close" alt-input-formats="altInputFormats" placeholder='' ng-change="vm.reportToChange()"/>
		      						<span class="input-group-btn">
		        						<button type="button" class="btn btn-default" ng-click="vm.datepickerPopupOpen('reportTo')"><i class="glyphicon glyphicon-calendar"></i></button>
		      						</span>
								</p>
							</div>
							<div class="col-md-2">
								<a id="rmb_dash_dwn_link_1"  class="btn btn-primary fa fa-download" href="{{vm.downloadlink}}" data-ng-disabled="vm.reportFrom==null || vm.reportTo==null">Download</a>
								<!-- <button class="btn btn-primary" ng-click="vm.statusReport()" data-ng-disabled="vm.reportFrom==null || vm.reportTo==null"><i class="fa fa-download"></i></button> -->
							</div>
						</div>
					</div>
				<rd-widget>
			</div>
		</div>
	</uib-tab>
 </uib-tabset>

<style type="text/css">
	.CPajaxLoader {
	    height: 100%;
	    width: 100%;
	    opacity: 1;
	    background-color: rgba(255,255,255,.85);
	    vertical-align: middle;
	    text-align: center;
	    display: block;
	    z-index: 800;
	    position:fixed;
	   	top:0!important;
	    left: 0 !important;
	   	padding-top: 15%;
	}
	.specialApprove{
		background-color: #999999;
	}
</style>