<div ng-controller="ProfileCtrl as vm" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a ng-click="vm.toggleSidebar()">Reimbursement<span class="menu-icon glyphicon glyphicon-transfer"></span></a>
      </li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <li class="sidebar-list">
        <a href="#/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/claim">Claims <span class="menu-icon fa fa-inr"></span></a>
      </li>
      <li class="sidebar-list" ng-show="vm.role=='Admin' || vm.role=='Super Admin'">
        <a href="#/admin">Work Flows<span class="menu-icon fa fa-cog"></span></a>
      </li>
       <li class="sidebar-list">
        <a href="#/faq">FAQ<span class="menu-icon fa fa-question-circle"></span></a>
      </li>
    </ul>

    <div class="sidebar-footer">
      <div class="col-xs-4">
        <a href="http://www.marlabs.com/" target="_blank">About</a>
      </div>
      <div class="col-xs-4">
        <a href="http://www.marlabs.com/">Support</a>
      </div>
    </div>
  </div>
  <div id="content-wrapper">
    <div class="page-content">
      <!-- Header Bar -->
      <div class="row header">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="item dropdown">
              <li class="dropdown-header dropdown-menu-right" data-toggle="dropdown">
                <a href="#" class="dropdown-toggle">
                  <img src="assets/images/avatar.jpg">
                </a>
                <span class="label label-warning standard-description" style="word-wrap: break-word">
                  {{vm.userName}}  
                </span>
              </li>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#/profile">Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#/login">Logout</a></li>
              </ul>
            </div>
          </div>
          <div class="meta">
            <div class="page">
              <!-- Marlabs --> <img src="assets/images/Marlabs_Logo.jpg" style="width: 150px">
            </div>
            <div class="breadcrumb-links">
              <!-- Home{{vm.path}} -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bar -->

      <div ui-view>

      </div>
    </div>
  </div>
</div>