<div class="container">
      <div class="row" ng-controller="ProfileCtrl">
        <div ng-show="vm.showLoader" class="CPajaxLoader">
          <img src="assets/images/loading_blue.gif" />
        </div>
      <!-- <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
        <p class=" text-info">May 05,2014,03:00 pm </p>
      </div> -->
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad" >
   
   
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Profile <span class="menu-icon fa fa-user"></span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4 col-lg-4 " align="center">
                    <img src="http://gymkhana.iitb.ac.in/~sports/images/profile.png" class="img-circle img-responsive"> 
                    <br/>
                    <span ><i ><b> {{vm.userName}}  </b></i></span>
                    <br/>
                    
                </div>
                
             
                <div class=" col-md-8 col-lg-8 table-responsive"> 
                  <table class="table table-user-information table-responsive">
                
                  </table id="rmb_profile_tbl_1"> 
                   <div class="row">
                    <div class=" profile-header col-md-6 col-lg-6">Reporting Manager:</div>
                    <div class="col-md-6 col-lg-6">{{vm.manager}}</div>
                  </div>
                   <div class="row">
                    <div class=" profile-header col-md-6 col-lg-6">Email</div>
                    <div class="col-md-6 col-lg-6">{{vm.email}}</div>
                  </div>
                  <div class="row">
                    <div class=" profile-header col-md-6 col-lg-6">Department</div>
                    <div class="col-md-6 col-lg-6">{{vm.department}}</div>
                  </div>
                 
                  <div class="row">
                    <div class=" profile-header col-md-6 col-lg-6">Location:</div>
                    <div class="col-md-6 col-lg-6">{{vm.loc}}</div>
                  </div>
                  
                  <div class="row">
                    <div class=" profile-header col-md-6 col-lg-6">Telephone:</div>
                    <div class="col-md-6 col-lg-6">{{vm.telephone}}</div>
                  </div>
                 
                  
                  
                  <!-- <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a> -->
                </div>
              </div>
            </div>
                 <!-- <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div> -->
            
          </div>
        </div>
      </div>
    </div>



<style>
  .profile-table-header, .profile-header{
    font-weight: bold;
  }
  .CPajaxLoader {
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(255,255,255,.85);
    vertical-align: middle;
    text-align: center;
    display: block;
    z-index: 800;
    position:fixed;
    top:0!important;
    left: 0 !important;
    padding-top: 15%;
  }
</style>