<div class="container" id="rmb_admin_div_1">
	<div class="row">
	<div ng-show="vm.showLoader" class="CPajaxLoader">
       	<img src="assets/images/ajax-loader.gif" />
    </div>
		<form name="myForm" id="rmb_admin_form_1" class="col-md-8 col-md-offset-2">
			<uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">		{{alert.msg}}
			</uib-alert>
			<div class="panel panel-primary" >
				<div class="panel-heading">
					<h3 class="panel-title"> Configuration <span class="fa fa-cog"></span></h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 " >
							<div class="form-group">
								<label for="claimType" class="form-label col-md-4">Employee</label>
								<div class="col-md-8">
									<input type="text" id="rmb_admin_txt_1" name="claimInput" placeholder="Enter a employee name" ng-model="vm.employee"  class="form-control"  ng-keyup="vm.searchEmployee(vm.employee)" uib-typeahead="user as user.userName  for user in vm.empList | filter:$viewValue | limitTo:7" autocomplete="off" typeahead-on-select="vm.getEmpDetail()" />
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 ">
							<div class="form-group">
								<label for="department" class="form-label col-md-4">Department</label>
								<div class="col-md-8 ">
									<select name="claimInput" id="rmb_admin_slct_1" ng-options="option.id as option.departmentCode for option in vm.initData.departmentList" data-ng-model="vm.configData.department" class="form-control">
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="form-group">
								<label for="currencyType" class="form-label col-md-4">Role</label>
								<div class="col-md-8">
									<select  name="claimInput" id="rmb_admin_slct_2" ng-options="option.id as option.roleCode for option in vm.initData.roleList" data-ng-model="vm.configData.roleId" class="form-control" required data-ng-change="vm.configData.approveFwdTo='manager'">
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<label class="col-md-4">Submit To :</label>
							<label class="col-md-4">
								<input type="radio" id="rmb_admin_rdo_1" ng-model="vm.configData.submissionTo" value="manager"/>
								Manager
							</label>
							<label class="col-md-4">
								<!-- <input type="radio" id="rmb_admin_rdo_2" ng-model="vm.configData.submissionTo" value="finance" />
								Finance -->
							</label>
						</div>
					</div>
					<!-- <div class="row" data-ng-show="vm.configData.submissionTo=='finance'">
						<div class="col-md-10 col-md-offset-1" >
							<div class="form-group">
								<label for="claimType" class="form-label col-md-4">Finance Person</label>
								<div class="col-md-8">
									<select  name="claimInput" id="rmb_admin_slct_3" ng-options="option.id as option.name for option in vm.initData.financePersonList" data-ng-model="vm.submitToEmployees" class="form-control" multiple >
									</select>
								</div>
							</div>
						</div>
					</div> -->
					<div class="row" data-ng-show="vm.configData.roleId==2 || vm.configData.roleId==4">
					<div class="form-group">
					  <div class="col-md-10 col-md-offset-1">
                            <label class="form-label col-md-4">Approve Limit </label>
							<div class="col-md-8">
								<input type="number" id="rmb_admin_txt_3" class="form-control" data-ng-model="vm.configData.approveLimit" 
								placeholder="Enter Limit" />
							</div>
					  </div>
					  </div>
						<div class="col-md-10 col-md-offset-1">
							<label class="col-md-4">Forward To </label>
							<label class="col-md-4">
								<input type="radio" id="rmb_admin_rdo_2" ng-model="vm.configData.approveFwdTo" value="manager"/>
								Manager
							</label>
							<label class="col-md-4">
								<input type="radio" id="rmb_admin_txt_3" ng-model="vm.configData.approveFwdTo" value="finance" />
								Finance
							</label>
						</div>
					</div>
					<div class="row" data-ng-show="vm.configData.approveFwdTo=='finance'">
						<div class="col-md-10 col-md-offset-1" >
							<div class="form-group">
								<label for="claimType" class="form-label col-md-4">Finance Person</label>
								<div class="col-md-8">
									<select  name="claimInput" id="rmb_admin_slct_3" ng-options="option.id as option.name for option in vm.initData.financePersonList" data-ng-model="vm.approveToEmployees" class="form-control" multiple>
									</select>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-offset-1">
					<div class="col-md-5">
					</div>
					<div class="col-md-2" ng-if="vm.configData.roleId==2 || vm.configData.roleId==4">
						<button ng-click="vm.updateAdmin()" 
						        id = "rmb_admin_btn_update" 
						        class = "btn btn-success btn-lg" 
								data-ng-disabled = "!myForm.$valid || 
								vm.configData.approveLimit <= 0 ||
								vm.configData.approveLimit == null ">
							<i class="fa fa-pencil-square-o"></i>Update 
						</button>
					</div>
					<div class="col-md-2" ng-if="vm.configData.roleId == null ||
					      vm.configData.roleId == 1 || vm.configData.roleId == 3 ">
						<button ng-click="vm.updateAdmin()" 
						        id = "rmb_admin_btn_update" 
						        class = "btn btn-success btn-lg" 
								data-ng-disabled = "!myForm.$valid ">
							<i class="fa fa-pencil-square-o"></i>Update 
						</button>
					</div>
					<div class="col-md-5">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<style type="text/css">
.CPajaxLoader {
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(255,255,255,.85);
    vertical-align: middle;
    text-align: center;
    display: block;
    z-index: 800;
    position:fixed;
   top:0!important;
    left: 0 !important;
   padding-top: 15%;
}
</style>
