<div class="container" >
    <div ng-show="vm.showLoader" class="CPajaxLoader">
        <img src="assets/images/loading_blue.gif" />
    </div>
    <div class="row" >
      <div class="col-md-12" >
        <div class="wrap" >
          <p class="form-title"><img src="assets/images/marlabslogo.jpg">Reimbursement</p>
          <form class="login" ng-submit="vm.login()" role="form">
            <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
					  <input type="text" id="rmb_login_txt_1" placeholder="Email" ng-model="vm.employeeCode" required />
					  <input type="password" id="rmb_login_pass_1" placeholder="Password" ng-model="vm.password" required />
					  <button type="submit" id="rmb_login_btn_submit" class="btn btn-default">
              Sign In
              <!-- <i ng-if="vm.dataLoading" class="fa fa-spinner fa-spin"></i> -->
            </button>
					  <!-- <div class="remember-forgot">
						  <div class="row">
							  <div class="col-xs-6">
								  <div class="checkbox">
									 <label><input type="checkbox" ng.model="vm.remember"/>Remember Me </label>
								  </div>
							  </div>
                <div class="col-xs-6 forgot-pass-content">
								  <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
							  </div>
						  </div>
					  </div> -->
          </form>
        </div>
			</div>
    </div>
    <div class="posted-by">Powered by:<a href="http://www.marlabs.com/" target="blank">Marlabs Software Pvt Ltd.</a></div>
</div>

<style type="text/css">
body {
  /*background-color: url('http://i.imgur.com/Au8To6H.jpg') fixed;*/
  background-color: #30426a;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

p.form-title {
  font-family: 'Open Sans' , sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.form-title img{
	vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

form {
  width: 300px;
  margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"] {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  outline: 0;
  height: 40px;
}

form.login button[type="submit"] {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

form.login input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}

form.login .remember-forgot {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}

form.login .forgot-pass-content {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form.login label, form.login a {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}

form.login a {
  transition: color 0.5s ease;
}

form.login a:hover {
  color: #2ecc71;
}

.pr-wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.show-pass-reset {
  display: block !important;
}

.pass-reset {
  margin: 0 auto;
  width: 250px;
  position: relative;
  margin-top: 22%;
  z-index: 999;
  background: #FFFFFF;
  padding: 20px 15px;
}

.pass-reset label {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}

.pass-reset input[type="email"] {
  width: 100%;
  margin: 5px 0 0 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #000000;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #000000;
  outline: 0;
}

.pass-reset input[type="submit"] {
  width: 100%;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}

.posted-by {
  position: absolute;
  bottom: 26px;
  margin: 0 auto;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.66);
  padding: 5px;
  left: 40%;
}
.CPajaxLoader {
      height: 100%;
      width: 100%;
      opacity: .8;
      background-color:#30426a /*rgba(255,255,255,.85)*/;
      vertical-align: middle;
      text-align: center;
      display: block;
      z-index: 800;
      position:fixed;
      top:0!important;
      left: 0 !important;
      padding-top: 15%;
  }

</style>