



<div class="jumbotron" ng-controller="MainCtrl">
  <h2>{{"views.main.i18n for your AngularJS applications" | translate}}</h2>

  <p class="lead">
    <img ng-src="his-theme/images/no-filerev/yeoman-{{locale}}.png?v={{VERSION_TAG}}" alt="{{'views.main.I\'m Yeoman' | translate}}"><br>
    {{"views.main.Always a pleasure scaffolding your apps." | translate}}
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#/">
    {{"views.main.Splendid!" | translate}}
    <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>{{"views.main.HTML5 Boilerplate" | translate}}</h4>

  <p>
    {{"views.main.HTML5 Boilerplate description" | translate}}
  </p>

  <h4>{{"views.main.Angular" | translate}}</h4>

  <p>
    {{"views.main.Angular description" | translate}}
  </p>

  <h4>{{"views.main.Karma" | translate}}</h4>

  <p>{{"views.main.Karma description" | translate}}</p>
</div>
