// injector
//@import "../../bower_components/angular-ui-grid/ui-grid.min.css";
//@import "src/app/modules/home/styles/grid.scss";
// endinjector

.panel-info{
    color: #31708f;
    background-color: #31708f;
    border-color: #31708f;
}

/**
 * Start by hiding the checkboxes
 */
input[type=checkbox] {
visibility: hidden;
}

/**
 * Checkbox Three
 */
.checkboxThree {
width: 120px;
height: 40px;
background: #333;
margin: 20px 60px;
border-radius: 50px;
position: relative;
}

/**
 * Create the text for the Yes position
 */
.checkboxThree:before {
content: 'Yes';
position: absolute;
top: 12px;
left: 13px;
height: 2px;
color: #26ca28;
font-size: 16px;
}

/**
 * Create the label for the No position
 */
.checkboxThree:after {
content: 'No';
position: absolute;
top: 12px;
left: 84px;
height: 2px;
color: #111;
font-size: 16px;
}

/**
 * Create the pill to click
 */
.checkboxThree label {
display: block;
width: 52px;
height: 22px;
border-radius: 50px;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
-ms-transition: all .5s ease;
transition: all .5s ease;
cursor: pointer;
position: absolute;
top: 9px;
z-index: 1;
left: 12px;
background: #ddd;
}
/**
 * Create the checkbox event for the label
 */
.checkboxThree input[type=checkbox]:checked + label {
left: 60px;
background: #26ca28;
}