<div class="container">
	<form role="form" class="form" name="form" >
	            <div class="alert alert-danger"  ng-show="vm.ui.alert">
                   <strong>Warning!</strong>
                   You need to apply Special Approval for this reimbursement ,because it is more than Sixty days rule : Total {{vm.validDaysCount}} days
                </div>
		<div class="panel panel-primary" >
			<div class="panel-heading" >
    			<h3 class="panel-title">Select Claim Type <i class="glyphicon glyphicon-stats"></i></h3>
  			</div>
  			<div class="panel-body">
				<div class="row">
					<div class="col-md-4 ">
						<div class="form-group">
					    	<label for="claimType" class="form-label col-md-4">Claim Type</label>
					    	<div class="col-md-8">
					    		<select class="form-control" id="rmb_claim_slct_claimType" data-ng-model="vm.claim.claimRequestHeaderVo.claimType" ng-change="vm.removeBill()" placeholder="select..">
					    			<option value="" disabled selected>Select....</option>
		                            <option ng-repeat="option in vm.initData.claimTypeList" ng-value="option.id">{{option.claimDesc}}</option>
		                    	</select>
					    	</div>
				  		</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label for="claimType" class="form-label col-md-2">Summary</label>
							<div class="col-md-10">
								<input class="form-control" id="rmb_claim_txt_summary" data-ng-model="vm.claim.claimRequestHeaderVo.remarks" placeholder="Summary Should be maximum 50 char long...." maxlength="50" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
					    	<label for="currencyType" class="form-label col-md-4">Currency</label>
					    	<div class="col-md-8">
					    		<select id="rmb_claim_slct_currency" data-ng-model="vm.claim.claimRequestHeaderVo.claimCurrency" class="form-control" >
					    			<option value="" disabled selected>Currency....</option>
		                            <option ng-repeat="option in vm.initData.currencyList" value={{option.id}}>{{option.currencyCode}} - {{option.currencyDesc}}</option>
		                    	</select>
					    	</div>
				  		</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
					    	<label for="claimType" class="form-label col-md-4">Period From</label>
					    	<div class="col-md-8">
					    		<p class="input-group" >
              						<input type="text" id="rmb_claim_txt_fromDate" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="vm.claim.claimRequestHeaderVo.periodFrom" is-open="vm.periodFromPopup" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" alt-input-formats="altInputFormats"  placeholder="select Date.." />
              						<span class="input-group-btn">
                						<button type="button" class="btn btn-default" ng-click="vm.datepickerPopupOpen('periodFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
              						</span>
            					</p>
					    	</div>
				  		</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" >
							<label for="claimType" class="form-label col-md-4">Period To</label>
						    <div class="col-md-8">
					    		<p class="input-group" >
              						<input type="text" 
              						       id="rmb_claim_txt_toDate" 
              						       class="form-control" 
              						       uib-datepicker-popup="dd-MMMM-yyyy"
              						       ng-model="vm.claim.claimRequestHeaderVo.periodTo"
              						       ng-change="vm.validDate()"
              						       is-open="vm.periodToPopup" 
              						       min-date="vm.claim.claimRequestHeaderVo.periodFrom" 
              						       max-date="maxDate" 
              						       datepicker-options="dateOptions" 
              						       date-disabled="disabled(date, mode)" 
              						       close-text="Close" 
              						       alt-input-formats="altInputFormats" 
              						       placeholder="select Date.."/>

              						<span class="input-group-btn">
                					  <button type="button" 
                					          class="btn btn-default"
                					          ng-click="vm.datepickerPopupOpen('periodTo');">
                						<i class="glyphicon glyphicon-calendar"></i>
                					  </button>
              						</span>
            					</p>
					    	</div>
						</div>
					</div>
				</div>


                <div class ="row">
                    <div class="col-md-4">
						<div class="form-group">
					    	<label for="projectType" class="form-label col-md-4">Project</label>
					    	<div class="col-md-8">
					    		<select id="rmb_claim_slct_project" data-ng-model="vm.claim.claimRequestHeaderVo.projectId" class="form-control" >
					    			<option value="" disabled selected>Select.....</option>
		                            <option ng-repeat="options in vm.initData.projectTypeList" value={{options.id}}>{{options.projectCode}} - {{options.projectDesc}}</option>
		                    	</select>
					    	</div>
				  		</div>
					</div>
                 </div>






				<div class="row" data-ng-show="vm.claim.claimRequestHeaderVo.claimType==4">
					<div class="col-md-4">
						<div class="form-group">
					    	<label for="claimType" class="form-label col-md-4">Department</label>
					    	<div class="col-md-8">
						    	<input name="claimInput" type="text" id="rmb_claim_txt_department" class="form-control" placeholder="Department" data-ng-model="vm.claim.claimRequestHeaderVo.department" >
			                </div>
				  		</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="claimType" class="form-label col-md-4">Project</label>
							<div class="col-md-8">
							    <input  type="text" id="rmb_claim_txt_project" class="form-control" placeholder="Project" data-ng-model="vm.claim.claimRequestHeaderVo.project">
			                </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="claimType" class="form-label col-md-6">Client Billable</label>
							<div class="col-md-6 checkboxThree">
								<!-- Checbox Three -->
								<input type="checkbox" value="1" id="checkboxThreeInput"  name="" data-ng-model="vm.claim.claimRequestHeaderVo.clientBillable"/>
								<label for="checkboxThreeInput"></label>
			                </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- This pannel is used for telephone expence claim -->
		<div class="panel panel-primary" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 1">
			<div class="panel-heading">
    			<h3 class="panel-title">Telephone Expence Claim <span class="glyphicon glyphicon-phone-alt"></span><i style=" float: right;">Total amount : <i ng-class="{'fa fa-inr':vm.claim.claimRequestHeaderVo.claimCurrency== 1, 'fa fa-usd':vm.claim.claimRequestHeaderVo.claimCurrency==2 || vm.claim.claimRequestHeaderVo.claimCurrency==3 || vm.claim.claimRequestHeaderVo.claimCurrency==4}"></i><b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
  			</div>
				<div class="table-responsive">
					<table class="table table-hover" id="rmb_claim_tbl_tel">
						<thead>
							<tr>
								<th class="text-center">
									Particulars
								</th>
								<th class="text-center">
									Bill Date
								</th>
								<th class="text-center">
									Bill Amount
								</th>
								<th class="text-center">
									Claim Amount
								</th>
								<th class="text-center">
									Remarks
								</th>
								<th class="text-center">
									Attachment
								</th>
								<th class="text-center">
									Button
								</th>
							</tr>
						</thead>
						<tbody>
							<tr id='addr0'>
								<td>
									<input id="rmb_claim_txt_particular" name="documentInput" type="text"  placeholder='Particulars' class="form-control" ng-model="vm.newDocument.particulars"/>
								</td>
								<td>
          							<input type="text" id="rmb_claim_txt_billDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" placeholder='Bill Date' ng-click="vm.datepickerPopupOpen('billDate')"/>
								</td>
								<td>
									<input name="documentInput" type="number" id="rmb_claim_num_expence" placeholder='Bill Amount' class="form-control" ng-model="vm.newDocument.expenseAmount"/>
								</td>
								<td>
									<input type="number" id="rmb_claim_txt_cAmount" name="documentInput" placeholder='Claim Amount' class="form-control" ng-model="vm.newDocument.claimAmount"/>
								</td>
								<td>
									<input  id="rmb_claim_txt_remark" name="documentInput" type="text" placeholder='Remark' class="form-control" ng-model="vm.newDocument.remarks"/>
								</td>
								<td>
								    <input type='file'  id="rmb_claim_file_file" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input >
								    <!-- <i ng-if="vm.dataLoading" class="fa fa-spinner fa-spin"></i> -->
								</td>
								<td>
									<button name="documentInput"  id="rmb_claim_btn_add" class="btn btn-primary" ng-click="vm.addToClaim()" ng-disabled="vm.newDocument.particulars==null || vm.newDocument.billDate==null || vm.newDocument.expenseAmount==null || vm.newDocument.claimAmount<= 0 || vm.newDocument.file==null"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
								</td>
							</tr>
		                    <tr data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
		                    	<td>{{document.particulars}}</td>
		                    	<td>{{document.billDate | date:'mediumDate'}}</td>
		                    	<td>{{document.expenseAmount}}</td>
		                    	<td>{{document.claimAmount}}</td>
		                    	<td>{{document.remarks}}</td>
		                    	<td>{{document.fileName}}</td>
		                       	<td><button class="btn btn-danger" ng-click="vm.delete(document.id)" > <span style="color:white" class="fa fa-trash-o fa-lg"></span></button></td>
		                    </tr>
						</tbody>
					</table>
					<!-- <div class="col-md-12 text-center">
						<button class="btn btn-success " ng-click="vm.submitClaim('save')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "> <i class="fa fa-floppy-o"></i> Save </button>
						<button class="btn btn-success "  ng-click="vm.submitClaim('submit')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "> <i class="fa fa-arrow-circle-o-right"></i> Submit </button>
					</div> -->
					<!-- <a id="add_row" class="btn btn-info  icon-plus-sign pull-left">Add Row</a> -->
				</div>
		</div>


		<!-- This pannel is used for Local Conveyance claim -->
		<div class="panel panel-primary" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 2 ">
			<div class="panel-heading">
    			<h3 class="panel-title">Local Conveyance claim <span class="fa fa-motorcycle fa-lg"></span><i style=" float: right;">Total amount : <i ng-class="{'fa fa-inr':vm.claim.claimRequestHeaderVo.claimCurrency== 1, 'fa fa-usd':vm.claim.claimRequestHeaderVo.claimCurrency==2 || vm.claim.claimRequestHeaderVo.claimCurrency==3 || vm.claim.claimRequestHeaderVo.claimCurrency==4}"></i><b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
  			</div>
			<div class="table-responsive">
				<table class="table table-defult table-hover" id="tab_logic">
					<thead>
						<tr >
							<th class="text-center">
								Bill date
							</th>
							<th class="text-center">
								Location
							</th>
							<th class="text-center">
								Mode
							</th>
							<th class="text-center">
								Rate
							</th>
							<th class="text-center">
								Distance
							</th>
							<th class="text-center">
								Amount
							</th>
							<th class="text-center">
								Attachment
							</th>
							<th class="text-center">
								Button
							</th>
						</tr>
					</thead>
					<tbody>
						<tr id='addr0'>
							<td>
								<!-- <input type="text" data-ng-model="vm.newDocument.billDate" placeholder='journey date' class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')"/> -->
								<!-- <p class="input-group"> -->
      								<input type="text"  id="rmb_claim_txt_billDate2" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" placeholder='Bill Date' ng-click="vm.datepickerPopupOpen('billDate')"/>
              						<!-- <span class="input-group-btn">
                						<button type="button" class="btn btn-default" ng-click="vm.datepickerPopupOpen('billDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              						</span> -->
    							<!-- </p> -->
							</td>
							<td>
								<input type="text" id="rmb_claim_txt_vLoc2" data-ng-model="vm.newDocument.visitedLocation" placeholder='Visited location' class="form-control"/>
							</td>
							<td>
								<input type="text" id="rmb_claim_txt_mode2" data-ng-model="vm.newDocument.mode" placeholder='Mode' class="form-control"/>
							</td>
							<td>
								<input type="number" id="rmb_claim_num_rate2" data-ng-model="vm.newDocument.rate" placeholder='Rate' class="form-control" data-ng-change="vm.newDocument.claimAmount=vm.newDocument.rate*vm.newDocument.distance"/>
							</td>
							<td>
								<input type="number" id="rmb_claim_num_distence2" data-ng-model="vm.newDocument.distance" placeholder='Km' class="form-control" data-ng-change="vm.newDocument.claimAmount=vm.newDocument.rate*vm.newDocument.distance"/>
							</td>
							<td>
								<input type="number" id="rmb_claim_txt_billDate2" data-ng-model="vm.newDocument.claimAmount" placeholder='Rate x Km' class="form-control"/>
							</td>
							<td>
							    <input type='file' id="rmb_claim_file_file2" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input>
							</td>
							<td>
								<button class="btn btn-primary" id="rmb_claim_btn_add2" data-ng-click="vm.addToClaim()" ng-disabled="vm.newDocument.billDate==null || vm.newDocument.visitedLocation==null || vm.newDocument.rate==null || vm.newDocument.distance==null || vm.newDocument.file == null || vm.newDocument.claimAmount <= 0 || vm.newDocument.claimAmount == null"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
							</td>
						</tr>
	                    <tr data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
	                    	<td>{{document.billDate | date:'mediumDate'}}</td>
	                    	<td>{{document.visitedLocation}}</td>
	                    	<td>{{document.mode}}</td>
	                    	<td>{{document.rate}}</td>
	                    	<td>{{document.distance}}</td>
	                    	<td>{{document.claimAmount}}</td>
	                    	<td>{{document.fileName}}</td>
	                    	<td><button class="btn btn-danger" > <span style="color:white" class="fa fa-trash-o fa-lg" ng-click="vm.delete(document.id)"></span></button></td>
	                    </tr>
					</tbody>
				</table>
				<!-- <div class="col-md-12 text-center">
					<button class="btn btn-success" ng-click="vm.submitClaim('save')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "> <i class="fa fa-floppy-o"></i> Save </button>

					<button class="btn btn-success"  ng-click="vm.submitClaim('submit')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "> <i class="fa fa-arrow-circle-o-right"></i> Submit </button>
				</div> -->
			</div>
		</div>
		<!-- This pannel is used for Domestic Travel Expence claim -->
		<div class="panel panel-primary" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 3 ">
			<div class="panel-heading">
    			<h3 class="panel-title">Domestic Travel Expence <span class="fa fa-taxi"></span><i style=" float: right;">Total amount : <i ng-class="{'fa fa-inr':vm.claim.claimRequestHeaderVo.claimCurrency== 1, 'fa fa-usd':vm.claim.claimRequestHeaderVo.claimCurrency==2 || vm.claim.claimRequestHeaderVo.claimCurrency==3 || vm.claim.claimRequestHeaderVo.claimCurrency==4}"></i><b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
  			</div>
			<div class="table-responsive">
				<table class="table table-defult table-hover" id="rmb_claim_tbl_domestic">
					<thead>
						<tr >
							<th class="text-center">
								Date
							</th>
							<th>
								Category
							</th>
							<th class="text-center">
								Particulars
							</th>
							<th class="text-center">
								Expense
							</th>
							<th class="text-center">
								Less paid
							</th>
							<th class="text-center">
								Claim Amount
							</th>
							<th class="text-center">
								Bill
							</th>
							<th>
								Button
							</th>
						</tr>
					</thead>
					<tbody>
						<tr id='addr0'>
							<td>
  								<input type="text" id="rmb_claim_txt_billDate3" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" placeholder='Bill Date' ng-click="vm.datepickerPopupOpen('billDate')"/>
          						<!-- <span class="input-group-btn">
            						<button type="button" class="btn btn-default" ng-click="vm.datepickerPopupOpen('billDate')"><i class="glyphicon glyphicon-calendar"></i></button>
          						</span> -->
    							<!-- </p> -->
							</td>
							<td>
								<select id="rmb_claim_slct_cat3" class="form-control" data-ng-model="vm.newDocument.claimCategory" placeholder="category">
									<option value="" disabled selected>Add category</option>
									<option>Travel air/other</option>
									<option>L.conveyance</option>
									<option>Per Diem</option>
									<option>Lodging</option>
									<option>Meals</option>
									<option>Telephone</option>
									<option>Misclellanious</option>
									<option>Client Entertainment</option>
								</select>
							</td>
							<td>
							<input type="text" id="rmb_claim_txt_particular3" data-ng-model="vm.newDocument.particulars" placeholder='Details' class="form-control"/>
							</td>
							<td>
							<input type="number" id="rmb_claim_num_expAmount3" data-ng-model="vm.newDocument.expenseAmount" placeholder='Total Expence' class="form-control"/>
							</td>
							<td>
							<input type="number" id="rmb_claim_num_lssPaid3" data-ng-model="vm.newDocument.lessPaidByCompany" placeholder='Less paid by company' class="form-control"/>
							</td>
							<td>
							<input type="number" id="rmb_claim_num_cAmount3" data-ng-model="vm.newDocument.claimAmount" placeholder='Claim Amount' class="form-control"/>
							</td>
							<td>
							     <input type='file' id="rmb_claim_file_file3" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input>
							</td>
							<td>
							<button class="btn btn-primary" id="rmb_claim_btn_add3" data-ng-click="vm.addToClaim()" ng-disabled="vm.newDocument.billDate==null || vm.newDocument.claimCategory==null || vm.newDocument.particulars==null || vm.newDocument.particulars==null || vm.newDocument.expenseAmount==null || vm.newDocument.lessPaidByCompany==null || vm.newDocument.file == null || vm.newDocument.claimAmount <= 0 || vm.newDocument.claimAmount == null"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
							</td>
						</tr>
	                    <tr data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
	                    	<td>{{document.billDate | date:'mediumDate'}}</td>
	                    	<td>{{document.claimCategory}}</td>
	                    	<td>{{document.particulars}}</td>
	                    	<td>{{document.expenseAmount}}</td>
	                    	<td>{{document.lessPaidByCompany}}</td>
	                    	<td>{{document.claimAmount}}</td>
	                    	<td>{{document.fileName}}</td>
	                    	<td><button class="btn btn-danger" ng-click="vm.delete(document.id)"> <span style="color:white" class="fa fa-trash-o fa-lg"></span></button></td>
	                    </tr>
					</tbody>
				</table>
				<!-- <div class="col-md-12 text-center">
					<button ng-click="vm.submitClaim('save')" class="btn btn-success  btn-lg" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "><i class="fa fa-floppy-o"></i> Save </button>
					<button class="btn btn-success btn-lg"  ng-click="vm.submitClaim('submit')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "> <i class="fa fa-arrow-circle-o-right"></i> Submit </button>
				</div> -->
			</div>
		</div>

		<!-- This pannel is used for International Travel expence claim -->
		<div class="panel panel-primary" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 4 ">
			<div class="panel-heading">
    			<h3 class="panel-title">International Travel expence claim <span class="fa fa-plane fa-lg"></span><i style=" float: right;">Total amount : <i ng-class="{'fa fa-inr':vm.claim.claimRequestHeaderVo.claimCurrency== 1, 'fa fa-usd':vm.claim.claimRequestHeaderVo.claimCurrency==2 || vm.claim.claimRequestHeaderVo.claimCurrency==3 || vm.claim.claimRequestHeaderVo.claimCurrency==4}"></i><b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
  			</div>
			<div class="table-responsive">
				<table class="table table-defult table-hover" id="tab_logic">
					<thead>
						<tr >
							<th class="text-center">
								Bill Date
							</th>
							<th class="text-center">
								Category
							</th>
							<th class="text-center">
								Details
							</th>
							<th class="text-center">
								Expence
							</th>
							<th class="text-center">
								Less
							</th>
							<th class="text-center">
								Total
							</th>
							<th class="text-center">
								Attachment
							</th>
							<th class="text-center">
								Button
							</th>
						</tr>
					</thead>
					<tbody>
						<tr id='addr0'>
							<td>
								<!-- <input type="text" data-ng-model="vm.newDocument.billDate" placeholder='journey date' class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')"/> -->
								<!-- <p class="input-group"> -->
      								<input type="text" id="rmb_claim_txt_billDate4" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" placeholder='Bill Date' ng-click="vm.datepickerPopupOpen('billDate')"/>
              						<!-- <span class="input-group-btn">
                						<button type="button" class="btn btn-default" ng-click="vm.datepickerPopupOpen('billDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              						</span> -->
    							<!-- </p> -->
							</td>
							<td>
								<select id="rmb_claim_slct_cat4" class="form-control" data-ng-model="vm.newDocument.claimCategory" placeholder="category">
									<option value="" disabled selected>Add category</option>
									<option>Travel air/other</option>
									<option>L.conveyance</option>
									<option>Per Diem</option>
									<option>Lodging</option>
									<option>Meals</option>
									<option>Telephone</option>
									<option>Misclellanious</option>
									<option>Client Entertainment</option>
								</select>
							</td>
							<td>
							<input type="text" id="rmb_claim_txt_detail4" data-ng-model="vm.newDocument.particulars" placeholder='Details' class="form-control"/>
							</td>
							<td>
							<input type="number" id="rmb_claim_num_expAmount4" data-ng-model="vm.newDocument.expenseAmount" placeholder='Total Expence' class="form-control"/>
							</td>
							<td>
							<input type="number" id="rmb_claim_num_lessPaid4" data-ng-model="vm.newDocument.lessPaidByCompany" placeholder='Less paid by company' class="form-control"/>
							</td>
							<td>
							<input type="number" id="rmb_claim_num_cAmount4" data-ng-model="vm.newDocument.claimAmount" placeholder='Claim Amount' class="form-control"/>
							</td>
							<td>
							    <input type='file' id="rmb_claim_file_file4" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input>
							</td>
							<td>
							<button id="rmb_claim_btn_add4" class="btn btn-primary" data-ng-click="vm.addToClaim()" ng-disabled="vm.newDocument.billDate==null || vm.newDocument.claimCategory==null || vm.newDocument.particulars==null || vm.newDocument.particulars==null || vm.newDocument.expenseAmount==null || vm.newDocument.lessPaidByCompany==null || vm.newDocument.file == null || vm.newDocument.claimAmount <= 0 || vm.newDocument.claimAmount == null"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
							</td>
						</tr>
	                    <tr data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
	                    	<td>{{document.billDate | date:'mediumDate'}}</td>
	                    	<td>{{document.claimCategory}}</td>
	                    	<td>{{document.particulars}}</td>
	                    	<td>{{document.expenseAmount}}</td>
	                    	<td>{{document.lessPaidByCompany}}</td>
	                    	<td>{{document.claimAmount}}</td>
	                    	<td>{{document.fileName}}</td>
	                    	<td><button class="btn btn-danger" ng-click="vm.delete(document.id)"> <span style="color:white" class="fa fa-trash-o fa-lg"></span></button></td>
	                    </tr>
					</tbody>
				</table>
				<!-- <div class="col-md-12 text-center">
					<button ng-click="vm.submitClaim('save')" class="btn btn-success" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null || vm.claim.claimRequestHeaderVo.project == null"> <i class="fa fa-floppy-o"></i> Save </button>
					<button class="btn btn-success"  ng-click="vm.submitClaim('submit')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks ==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null || vm.claim.claimRequestHeaderVo.project==null"> <i class="fa fa-arrow-circle-o-right"></i> Submit </button>
				</div> -->
			</div>
		</div>

		<!-- This pannel is used for miscellaneous claim -->
		<div class="panel panel-primary" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 5 ">
			<div class="panel-heading">
    			<h3 class="panel-title">Miscellaneous Claim <span class="fa fa-link fa-lg"></span><i style=" float: right;">Total amount : <i ng-class="{'fa fa-inr':vm.claim.claimRequestHeaderVo.claimCurrency== 1, 'fa fa-usd':vm.claim.claimRequestHeaderVo.claimCurrency==2 || vm.claim.claimRequestHeaderVo.claimCurrency==3 || vm.claim.claimRequestHeaderVo.claimCurrency==4}"></i><b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
  			</div>
			<div class="table-responsive">
				<table class="table table-defult table-hover" id="rmb_claim_tbl_4">
					<thead>
						<tr >
							<th class="text-center">
								Particulars
							</th>
							<th class="text-center">
								Date
							</th>
							<th class="text-center">
								Bill Amount
							</th>
							<th class="text-center">
								Claim Amount
							</th>
							<th class="text-center">
								Remark
							</th>
							<th class="text-center">
								Attachment
							</th>
							<th class="text-center">
								Button
							</th>
						</tr>
					</thead>
					<tbody>
						<tr id='addr0'>
							<td>
								<input type="text" id="rmb_claim_txt_particular5" name="documentInput" placeholder='Particulars' class="form-control" ng-model="vm.newDocument.particulars"/>
							</td>
							<td>
      							<input type="text" id="rmb_claim_txt_billDate5" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" placeholder='Bill Date' ng-click="vm.datepickerPopupOpen('billDate')"/>
              					<!-- <span class="input-group-btn">
                					<button type="button" class="btn btn-default" ng-click="vm.datepickerPopupOpen('billDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              						</span>
              					-->
    							<!-- </p> -->
							</td>
							<td>
								<input  type="number" id="rmb_claim_num_billAmount5" name="documentInput" placeholder='Bill Amount' class="form-control" ng-model="vm.newDocument.expenseAmount"/>
							</td>
							<td>
								<input type="number" id="rmb_claim_num_cAmount5" name="documentInput" placeholder='Claim Amount' class="form-control" ng-model="vm.newDocument.claimAmount"/>
							</td>
							<td>
								<input type="text" id="rmb_claim_txt_remark5" name="documentInput"placeholder='Remark' class="form-control" ng-model="vm.newDocument.remarks"/>
							</td>
							<td>
							    <input type='file' id="rmb_claim_file_file5" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input>
							</td>
							<td>
								<button id="rmb_claim_btn_add5" name="documentInput" class="btn btn-primary" ng-click="vm.addToClaim()"ng-disabled=" vm.newDocument.particulars == null  || vm.newDocument.billDate== null  ||  vm.newDocument.remarks==null || vm.newDocument.file == null || vm.newDocument.claimAmount <= 0 || vm.newDocument.claimAmount == null"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
							</td>
						</tr>
	                    <tr data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
	                    	<td>{{document.particulars}}</td>
	                    	<td>{{document.billDate | date:'mediumDate'}}</td>
	                    	<td>{{document.expenseAmount}}</td>
	                    	<td>{{document.claimAmount}}</td>
	                    	<td>{{document.remarks}}</td>
	                    	<td>{{document.fileName}}</td>
	                    	<td><button class="btn btn-danger" ng-click="vm.delete(document.id)"> <span style="color:white" class="fa fa-trash-o fa-lg"></span></button></td>
	                    </tr>
					</tbody>
				</table>
				<!-- <div class="col-md-12 text-center">
					<button ng-click="vm.submitClaim('save')" class="btn btn-success" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "> <i class="fa fa-floppy-o"></i> Save </button>
					<button class="btn btn-success" ng-click="vm.submitClaim('submit')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "> <i class="fa fa-arrow-circle-o-right"></i> Submit </button>
				</div> -->
			</div>
		</div>

		<!-- This div is used for claim save and submit button-->
		<div class="col-md-12 text-center">
			<button id="rmb_claim_btn_save" 
			class="btn btn-success" 
			ng-click="vm.submitClaim('save')" 
			ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null ||
			vm.claim.claimRequestHeaderVo.projectId==null || 
			vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || 
			vm.claim.claimRequestHeaderVo.periodFrom==null || 
			vm.claim.claimRequestHeaderVo.periodTo==null ">
			<i class="fa fa-floppy-o"></i> 
			Save 
			</button>

			<button id="rmb_claim_btn_submit" 
			class="btn btn-success"  
			ng-click="vm.submitClaim('submit')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null ||
			vm.claim.claimRequestHeaderVo.projectId==null || 
			vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || 
			vm.claim.claimRequestHeaderVo.periodFrom==null || 
			vm.claim.claimRequestHeaderVo.periodTo==null ">
			<i class="fa fa-arrow-circle-o-right"></i> 
			Submit
			</button>
		</div>
	</form>

	<!-- This section for instruction in right side -->
	<!-- <span id="themesBtnHelp" style="right: 0px; height: 86px; background: url(assets/images/instructions.png) no-repeat 0 0; position: fixed; top: 16%; right: 0; width: 30px; opacity:1;" ng-click="showKeyNotes=true"></span>
	<div id="selectionBox" class='animate-hide'  ng-show="showKeyNotes" style=" background: cyan; position: fixed;top: 16%;color: black;">
	    <div id="themeContainer" >
	        <div id="hideme" class="themeTitle" ng-click="showKeyNotes=false"> instructions </div>
	        <div style="overflow:auto;height:50%">
	            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" id="Table3">
	                <thead>
	                    <tr>
	                        <th> Add instructions here</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>
	                            1). This form is divided into tow parts. After claim type selection next part will show.  
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            2). All fields are mandatory. If some thing is not applicable for you write "NA".
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            3). All fields are mandatory.  
	                        </td>
                        </tr>
	                    <tr>
	                        <td>
	                            4). All fields are mandatory.  
	                        </td>
                        </tr>
	                    <tr>
	                        <td>
	                            5). All fields are mandatory.  
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            6). All fields are mandatory.  
	                        </td>
                        </tr>
	                    <tr>
	                        <td>
	                            7). All fields are mandatory.  
	                        </td>
                        </tr>
	                    <tr>
	                        <td>
	                            8). All fields are mandatory.  
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
	        </div> 
	    </div>
	</div> -->

	<!-- this div for loding bar -->
	<div ng-show="vm.showLoader" class="CPajaxLoader">
       	<img src="assets/images/ajax-loader.gif"/>
    </div>
</div>

<style type="text/css">

.table-responsive {
 overflow-x: inherit;
}
.animate-hide {
            -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
            -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
            -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
            transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s;
            line-height:20px;
            opacity:1;
            max-width: 300px;
            max-height: 500px;
            padding:1px;
            border:1px solid black;
            background:white;
            position: absolute;
            right: -1%;
            z-index: 3;
        }
.animate-hide.ng-hide {
    right: -100%;
    opacity:0;
    padding:0 10px;
}
.themeTitle{
            background:#337ab7 url(assets/images/hideme.png) no-repeat right 0;
            color: white;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 44px;
            text-align: center;
        }

	/**
 * Start by hiding the checkboxes
 */
input[type=checkbox] {
visibility: hidden;
}

/**
 * Checkbox Three
 */
.checkboxThree {
width: 115px;
height: 35px;
background: #31b0d5;
/*background: #f5f5f5;*/
/*margin: 20px 60px;*/
border-radius: 8px;
position: relative;
}

/**
 * Create the text for the Yes position
 */
.checkboxThree:before {
content: 'Yes';
position: absolute;
top: 12px;
left: 13px;
height: 2px;
color: #111;
font-size: 16px;
}

/**
 * Create the label for the No position
 */
.checkboxThree:after {
content: 'No';
position: absolute;
top: 12px;
left: 84px;
height: 2px;
color: #111;
font-size: 16px;
}

/**
 * Create the pill to click
 */
.checkboxThree label {
display: block;
width: 52px;
height: 22px;
border-radius: 50px;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
-ms-transition: all .5s ease;
transition: all .5s ease;
cursor: pointer;
position: absolute;
top: 9px;
z-index: 1;
left: 12px;
/*background: #ddd;*/
background:rgb(232, 122, 104);
}
/**
 * Create the checkbox event for the label
 */
.checkboxThree input[type=checkbox]:checked + label {
left: 60px;
background: #26ca28;
}
.CPajaxLoader {
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(255,255,255,.85);
    vertical-align: middle;
    text-align: center;
    display: block;
    z-index: 800;
    /*position: absolute;*/
    position:fixed;
   	top:0!important;
    left: 0 !important;
   	padding-top: 15%;
}
</style>


