<div ng-show="vm.showLoader" class="CPajaxLoader">
   	<img src="assets/images/ajax-loader.gif" />
</div>
<form role="form" class="form" >

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Edit Claim</h3>
		</div>
		<div class="panel-body">
			<div class="row">
					<div class="col-md-4 ">
						<div class="form-group">
					    	<label for="claimType" class="form-label col-md-4">Claim </label>
					    	<div class="col-md-8">
					    		<input type="text" id="rmb_edit_slct_claimType" data-ng-model="vm.claim.claimRequestHeaderVo.claimTypeName" class="form-control" name="claimTypeName" id="claimIdtest" readonly/>
					    	</div>
				  		</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label for="claimType" class="form-label col-md-2">Summary</label>
							<div class="col-md-10">
								<input id="rmb_edit_txt_summary" class="form-control" data-ng-model="vm.claim.claimRequestHeaderVo.remarks" placeholder="Summary Should be maximum 50 char long...." maxlength="50" />
							</div>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
				    	<label for="currencyType" class="form-label col-md-4">Currency</label>
				    	<div class="col-md-8">
				    		<select id="rmb_edit_slct_currency" name="currencyInput" ng-options="option.id as option.currencyDesc for option in vm.claim.claimRequestHeaderVo.currencyList" data-ng-model="vm.claim.claimRequestHeaderVo.claimCurrency" class="form-control">
							</select>
				    	</div>
			  		</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
				    	<label for="claimType" class="form-label col-md-4"> From </label>
				    	<div class="col-md-8">
				    		<p class="input-group">
          						<input type="text" id="rmb_edit_txt_fromDate" class="form-control" uib-datepicker-popup="MMM dd,yyyy" ng-model="vm.claim.claimRequestHeaderVo.periodFrom" is-open="vm.periodFromPopup" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" alt-input-formats="altInputFormats" />
          						<span class="input-group-btn">
            						<button type="button" class="btn btn-default" ng-click="vm.datepickerPopupOpen('periodFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
          						</span>
        					</p>
				    	</div>
			  		</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" >
						<label for="claimType" class="form-label col-md-4"> To </label>
					    <div class="col-md-8">
				    		<p class="input-group">
          						<input type="text" id="rmb_edit_txt_toDate" class="form-control" uib-datepicker-popup="MMM dd,yyyy" ng-model="vm.claim.claimRequestHeaderVo.periodTo" is-open="vm.periodToPopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" />
          						<span class="input-group-btn">
            						<button type="button" class="btn btn-default" ng-click="vm.datepickerPopupOpen('periodTo')"><i class="glyphicon glyphicon-calendar"></i></button>
          						</span>
        					</p>
				    	</div>
					</div>
				</div>
			</div>

                 <div class ="row">
                    <div class="col-md-4">
						<div class="form-group">
					    	<label for="projectType" class="form-label col-md-4">Project</label>
					    	<div class="col-md-8">
					    		<select id="rmb_claim_slct_project" 
					    		name = "projectTypeInput" 
					    		ng-options="options.id as options.name for options in vm.claim.claimRequestHeaderVo.projectTypeList"       
					    		data-ng-model="vm.claim.claimRequestHeaderVo.projectId" 
					    		class="form-control">
		                    	</select>
					    	</div>
				  		</div>
					</div>

                 </div>

			<div class="row" data-ng-show="vm.claim.claimRequestHeaderVo.claimType==4">
				<div class="col-md-4">
					<div class="form-group">
				    	<label for="claimType" class="form-label col-md-4">Department</label>
				    	<div class="col-md-8">
					    	<input name="claimInput" type="text" id="rmb_edit_txt_department" class="form-control" placeholder="Department" data-ng-model="vm.claim.claimRequestHeaderVo.department" >
		                </div>
			  		</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="claimType" class="form-label col-md-4">Project</label>
						<div class="col-md-8">
						    <input  type="text" id="rmb_edit_txt_project" class="form-control" placeholder="Project" data-ng-model="vm.claim.claimRequestHeaderVo.project">
		                </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="claimType" class="form-label col-md-6">Client Billable</label>
						<div class="col-md-6 checkboxThree">
							<!-- Checbox Three -->
							<input type="checkbox" value="1" id="checkboxThreeInput" data-ng-model="vm.claim.claimRequestHeaderVo.clientBillable"/>
							<label for="checkboxThreeInput"></label>
		                </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- This pannel is used for telephone expence claim -->
	<div class="panel panel-default" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 1">
		<div class="panel-heading">
			<h3 class="panel-title">Telephone Expence Claim <span class="glyphicon glyphicon-phone-alt"></span><i style=" float: right;">Total claim amount :<b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
		</div>
		<div class="table-responsive">
			<table class="table table-defult table-hover" id="tab_logic">
				<thead>
					<tr>
						<th class="text-center">
							Particulars
						</th>
						<th class="text-center">
							Bill Date
						</th>
						<th class="text-center">
							Expense Amount
						</th>
						<th class="text-center">
							Claim Amount
						</th>
						<th class="text-center">
							Remarks
						</th>
						<th class="text-center">
							Attachment
						</th>
						<th class="text-center">
							Remove
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
						<td>
							<input id="rmb_edit_txt_particular" type="text"  placeholder='Particulars' class="form-control" ng-model="vm.newDocument.particulars"/>
						</td>
						<td>
  							<input type="text" id="rmb_edit_txt_billDate" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" placeholder='Bill Date' ng-click="vm.datepickerPopupOpen('billDate')"/>
						</td>
						<td>
							<input name="documentInput" type="number" id="rmb_edit_num_expence" placeholder='Bill Amount' class="form-control" ng-model="vm.newDocument.expenseAmount"/>
						</td>
						<td>
							<input name="documentInput" type="number" id="rmb_edit_txt_cAmount" placeholder='Claim Amount' class="form-control" ng-model="vm.newDocument.claimAmount"/>
						</td>
						<td>
							<input id="rmb_edit_txt_remark" name="documentInput" type="text" placeholder='Remark' class="form-control" ng-model="vm.newDocument.remarks"/>
						</td>
						<td>
						    <input type='file' id="rmb_edit_file_file" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input >
						    <!-- <i ng-if="vm.dataLoading" class="fa fa-spinner fa-spin"></i> -->
						</td>
						<td>
							<button name="documentInput" id="rmb_edit_btn_add" class="btn btn-primary" ng-disabled="vm.newDocument.particulars==null || vm.newDocument.billDate==null || vm.newDocument.expenseAmount==null || vm.newDocument.claimAmount<= 0 || vm.newDocument.file==null" ng-click="vm.addToClaim()"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
						</td>
					</tr>
					<tr data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
					    <td>
					    	{{document.particulars}}
						</td>
                    	<td>
                    		{{document.billDate | date:'mediumDate'}}
                    	</td>
                    	<td>
                			{{document.expenseAmount}}
                    	</td>
                    	<td>
                    		{{document.claimAmount}}
                    	</td>
                    	<td>
                    		{{document.remarks}}
                    	</td>
                    	<td>
                    		<a href="{{document._links.file.href}}" target="_blank"><span class="label label-primary">Download</span></a> {{document.fileName}}
                    	</td>
                    	<td>	
						<button class="btn btn-danger" ng-click="vm.delete(document.detailsId)"> <span style="color:white" class="glyphicon glyphicon-trash"></span></button>
					   </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<!-- This pannel is used for Local Conveyance claim -->
	<div class="panel panel-default" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 2">
		<div class="panel-heading">
			<h3 class="panel-title">Local Conveyance claim <span style="color:red" class="fa fa-taxi"></span><i style=" float: right;">Total claim amount :<b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
		</div>
		<div class="table-responsive">
			<table class="table table-defult table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Bill date
						</th>
						<th class="text-center">
							Location
						</th>
						
						<th class="text-center">
							Mode
						</th>
						<th class="text-center">
							Rate
						</th>
						<th class="text-center">
							Distance
						</th>
						<th class="text-center">
							Amount
						</th>
						<th class="text-center">
							Attachment
						</th>
						<th class="text-center">
							Remove
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
							<td>
  								<input type="text" id="rmb_edit_txt_billDate2" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" placeholder='Bill Date' ng-click="vm.datepickerPopupOpen('billDate')"/>
							</td>
							<td>
								<input type="text" id="rmb_edit_txt_vLoc2" data-ng-model="vm.newDocument.visitedLocation" placeholder='Visited location' class="form-control"/>
							</td>
							<td>
								<input type="text" id="rmb_edit_txt_mode2" data-ng-model="vm.newDocument.mode" placeholder='Mode' class="form-control"/>
							</td>
							<td>
								<input type="number" id="rmb_edit_num_rate2" data-ng-model="vm.newDocument.rate" placeholder='Rate' class="form-control" data-ng-change="vm.newDocument.claimAmount=vm.newDocument.rate*vm.newDocument.distance"/>
							</td>
							<td>
								<input type="number" id="rmb_edit_num_distence2" data-ng-model="vm.newDocument.distance" placeholder='Km' class="form-control" data-ng-change="vm.newDocument.claimAmount=vm.newDocument.rate*vm.newDocument.distance"/>
							</td>
							<td>
								<input type="number" id="rmb_edit_txt_billDate2" data-ng-model="vm.newDocument.claimAmount" placeholder='Rate x Km' class="form-control"/>
							</td>
							<td>
							    <input type='file' id="rmb_edit_file_file2" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input>
							</td>
							<td>
								<button class="btn btn-primary" id="rmb_edit_btn_add2" data-ng-click="vm.addToClaim()" ng-disabled="vm.newDocument.billDate==null || vm.newDocument.visitedLocation==null || vm.newDocument.rate==null || vm.newDocument.distance==null || vm.newDocument.file == null || vm.newDocument.claimAmount <= 0 || vm.newDocument.claimAmount == null"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
							</td>
						</tr>
					<tr id='addr0' data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
						<td>
							{{document.billDate | date:'mediumDate'}}
						</td>
						<td>
							{{document.visitedLocation}}
						</td>
						<td>
							{{document.mode}}
						</td>
						<td>
							{{document.rate}}
						</td>
						<td>
							{{document.distance}}
						</td>
						<td>
							{{document.claimAmount}}
						</td>
						<td>
							<a href="{{document._links.file.href}}"><span class="label label-primary">Download</span></a>
							{{document.fileName}}
						</td>
	                  	<td>
							<button class="btn btn-danger" ng-click="vm.delete(document.detailsId)"> <span style="color:white" class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
					<tr id='addr1'></tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- This pannel is used for Domestic Travel Expence claim -->
	<div class="panel panel-default" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 3">
		<div class="panel-heading">
			<h3 class="panel-title">Domestic Travel Expence <span style="color:red" class="fa fa-taxi"></span><i style=" float: right;">Total claim amount :<b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
		</div>
		<div class="table-responsive">
			<table class="table table-defult table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Date
						</th>
						<th class="text-center">
							Category
						</th>
						<th class="text-center">
							Particulars
						</th>
						<th class="text-center">
							Expense Amount
						</th>
						<th class="text-center">
							Less paid
						</th>
						<th class="text-center">
							Claim Amount
						</th>
						<th class="text-center">
							Attachment
						</th>
						<th class="text-center">
							Remove
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
						<td>
							<input type="text" id="rmb_edit_txt_billDate3" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" ng-click="vm.datepickerPopupOpen('billDate')" />
						</td>
						<td>
							<select class="form-control" id="rmb_edit_slct_cat3" data-ng-model="vm.newDocument.claimCategory">
								<option>Travel air/other</option>
								<option>L.conveyance</option>
								<option>Per Diem</option>
								<option>Lodging</option>
								<option>Meals</option>
								<option>Telephone</option>
								<option>Misclellanious</option>
								<option>Client Entertainment</option>
							</select>
						</td>
						<td>
						<input type="text" id="rmb_edit_txt_particular3" data-ng-model="vm.newDocument.particulars" class="form-control"/>
						</td>
						<td>
						<input type="number" id="rmb_edit_num_expAmount3" data-ng-model="vm.newDocument.expenseAmount" class="form-control"/>
						</td>
						<td>
						<input type="number" id="rmb_edit_num_lssPaid3" data-ng-model="vm.newDocument.lessPaidByCompany" class="form-control"/>
						</td>
						<td>
						<input type="number" id="rmb_edit_num_cAmount3" data-ng-model="vm.newDocument.claimAmount" class="form-control"/>
						</td>
						<td>
						     <input type='file' id="rmb_edit_file_file3" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input>
						</td>
						<td>
						<button class="btn btn-primary" id="rmb_edit_btn_add3" data-ng-click="vm.addToClaim()" ng-disabled="vm.newDocument.billDate==null || vm.newDocument.claimCategory==null || vm.newDocument.particulars==null || vm.newDocument.particulars==null || vm.newDocument.expenseAmount==null || vm.newDocument.lessPaidByCompany==null || vm.newDocument.file == null || vm.newDocument.claimAmount <= 0 || vm.newDocument.claimAmount == null"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
						</td>
					</tr>
					<tr id='addr0' data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
						<td>
							{{document.billDate | date:'mediumDate'}}
						</td>
						<td>
							{{document.claimCategory}}
						</td>
						<td>
							{{document.particulars}}
						</td>
						<td>
							{{document.expenseAmount}}
						</td>
						<td>
							{{document.lessPaidByCompany}}
						</td>
						<td>
							{{document.claimAmount}}
						</td>
	                    <td>
	                    	<a href="{{document._links.file.href}}"><span class="label label-primary">Download</span></a>
	                    	{{document.fileName}}
	                    </td>
						<td>
							<button class="btn btn-danger" ng-click="vm.delete(document.detailsId)"> <span style="color:white" class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- This pannel is used for International Travel expence claim -->
	<div class="panel panel-default" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 4">
		<div class="panel-heading">
			<h3 class="panel-title">International Travel expence claim <span style="color:red" class="fa  fa-plane"></span><i style=" float: right;">Total claim amount :<b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
		</div>
		<div class="table-responsive">
			<table class="table table-defult table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Bill Date
						</th>
						<th class="text-center">
							Category
						</th>
						<th class="text-center">
							Particulars
						</th>
						<th class="text-center">
							Expense Amount
						</th>
						<th class="text-center">
							Less paid 
						</th>
						<th class="text-center">
							Claim Amount
						</th>
						<th class="text-center">
							Attachment
						</th>
						<th class="text-center">
							Remove
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
						<td>
							<input type="text" id="rmb_edit_txt_billDate4" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" placeholder='Bill Date' ng-click="vm.datepickerPopupOpen('billDate')"/>
						</td>
						<td>
							<select id="rmb_edit_slct_cat4" class="form-control" data-ng-model="vm.newDocument.claimCategory">
								<option>Travel air/other</option>
								<option>L.conveyance</option>
								<option>Per Diem</option>
								<option>Lodging</option>
								<option>Meals</option>
								<option>Telephone</option>
								<option>Misclellanious</option>
								<option>Client Entertainment</option>
							</select>
						</td>
						<td>
						<input type="text" id="rmb_edit_txt_detail4" data-ng-model="vm.newDocument.particulars" placeholder='Details' class="form-control"/>
						</td>
						<td>
						<input type="number" id="rmb_edit_num_expAmount4" data-ng-model="vm.newDocument.expenseAmount" placeholder='Total Expence' class="form-control"/>
						</td>
						<td>
						<input type="number" id="rmb_edit_num_lessPaid4" data-ng-model="vm.newDocument.lessPaidByCompany" placeholder='Less paid by company' class="form-control"/>
						</td>
						<td>
						<input type="number" id="rmb_edit_num_cAmount4" data-ng-model="vm.newDocument.claimAmount" placeholder='Claim Amount' class="form-control"/>
						</td>
						<td>
						    <input type='file' id="rmb_edit_file_file4" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input>
						</td>
						<td>
						<button  id="rmb_edit_btn_add4" class="btn btn-primary" data-ng-click="vm.addToClaim()" ng-disabled="vm.newDocument.billDate==null || vm.newDocument.claimCategory==null || vm.newDocument.particulars==null || vm.newDocument.particulars==null || vm.newDocument.expenseAmount==null || vm.newDocument.lessPaidByCompany==null || vm.newDocument.file == null || vm.newDocument.claimAmount <= 0 || vm.newDocument.claimAmount == null"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
						</td>
					</tr>
					<tr id='addr0' data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
						<td>
							{{document.billDate | date:'mediumDate'}}
						</td>
						<td>
							{{document.claimCategory}}
						</td>
						<td>
							{{document.particulars}}
						</td>
						<td>
							{{document.expenseAmount}}
						</td>
						<td>
							{{document.lessPaidByCompany}}
						</td>
						<td>
							{{document.claimAmount}}
						</td>
						<td>
	                    	<a href="{{document._links.file.href}}"><span class="label label-primary">Download</span></a>
	                    	{{document.fileName}}
	                   	</td>
						<td>
							<button class="btn btn-danger" ng-click="vm.delete(document.detailsId)"> <span style="color:white" class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
					<tr id='addr1'></tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- This pannel is used for Mislenous claim -->
	<div class="panel panel-default" data-ng-show="vm.claim.claimRequestHeaderVo.claimType== 5">
		<div class="panel-heading">
			<h3 class="panel-title">Miscellaneous Claim <span style="color:red" class="fa fa-link"></span><i style=" float: right;">Total claim amount :<b>{{vm.claim.claimRequestHeaderVo.claimedAmount}}</b></i></h3>
		</div>
		<div class="table-responsive">
			<table class="table table-defult table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Particulars
						</th>
						<th class="text-center">
							Bill Date
						</th>
						<th class="text-center">
							Bill Amount
						</th>
						<th class="text-center">
							Claim Amount
						</th>
						<th class="text-center">
							Remark
						</th>
						<th class="text-center">
							Attachment
						</th>
						<th class="text-center">
							Remove
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
						<td>
							<input type="text" id="rmb_edit_txt_particular5" name="documentInput"  placeholder='Particulars' class="form-control" ng-model="vm.newDocument.particulars"/>
						</td>
						<td>
							<input type="text" type="text" id="rmb_edit_txt_billDate5" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.newDocument.billDate" is-open="vm.billDatePopup" min-date="vm.claim.claimRequestHeaderVo.periodFrom" max-date="vm.claim.claimRequestHeaderVo.periodTo" close-text="Close" alt-input-formats="altInputFormats" placeholder='Bill Date' ng-click="vm.datepickerPopupOpen('billDate')"/>					
						</td>
						<td>
							<input type="number" id="rmb_edit_num_billAmount5" name="documentInput" placeholder='Bill Amount' class="form-control" ng-model="vm.newDocument.expenseAmount"/>
						</td>
						<td>
							<input type="number" id="rmb_edit_num_cAmount5" name="documentInput" placeholder='Claim Amount' class="form-control" ng-model="vm.newDocument.claimAmount"/>
						</td>
						<td>
							<input type="text" id="rmb_edit_txt_remark5" name="documentInput" placeholder='Remark' class="form-control" ng-model="vm.newDocument.remarks"/>
						</td>
						<td>
						    <input type='file' id="rmb_edit_file_file5" ng-model='vm.newDocument.file' class="btn btn-primary btn-sm" base-sixty-four-input>
						</td>
						<td>
							<button id="rmb_edit_btn_add5" name="documentInput" class="btn btn-primary" ng-click="vm.addToClaim()"ng-disabled=" vm.newDocument.particulars == null  || vm.newDocument.billDate== null  ||  vm.newDocument.remarks==null || vm.newDocument.file == null || vm.newDocument.claimAmount <= 0 || vm.newDocument.claimAmount == null"> <span style="color:white" class="fa fa-plus fa-lg"></span></button>
						</td>
					</tr>
					<tr id='addr0' data-ng-repeat="document in vm.claim.claimRequestDetailList track by $index">
						<td>
							{{document.particulars}}
						</td>
						<td>
							{{document.billDate | date:'mediumDate'}}
						</td>
						<td>
							{{document.expenseAmount}}
						</td>
						<td>
							{{document.claimAmount}}
						</td>
						<td>
							{{document.remarks}}
						</td>
						<td>
	                    	<a href="{{document._links.file.href}}"><span class="label label-primary">Download</span></a>
	                    	 {{document.fileName}}
	                   </td>
						<td>
							<button class="btn btn-danger" ng-click="vm.delete(document.detailsId)"> <span style="color:white" class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
					<tr id='addr1'></tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="row" align="center" style="margin:5px">
			<button id="rmb_edit_btn_save" class="btn btn-info" ng-click="vm.submitClaim('save')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "> <i class="fa fa-floppy-o"></i> Save </button>

			<button id="rmb_edit_btn_submit" class="btn btn-success"  ng-click="vm.submitClaim('submit')" ng-disabled="vm.claim.claimRequestHeaderVo.claimCurrency==null || vm.claim.claimRequestHeaderVo.claimedAmount <= 0 || vm.claim.claimRequestHeaderVo.remarks==null || vm.claim.claimRequestHeaderVo.periodFrom==null || vm.claim.claimRequestHeaderVo.periodTo==null "> <i class="fa fa-arrow-circle-o-right"></i> Submit </button>
			<button class="btn btn-warning" type="button" value="Not Now" ng-click="vm.cancel()">Cancel</button>
	</div>	
</form>

<style type="text/css">
.table-responsive {
 overflow-x: inherit;
}
	/**
 * Start by hiding the checkboxes
 */
input[type=checkbox] {
visibility: hidden;
}

/**
 * Checkbox Three
 */
.checkboxThree {
width: 115px;
height: 35px;
background: #31b0d5;
/*background: #f5f5f5;*/
/*margin: 20px 60px;*/
border-radius: 8px;
position: relative;
}

/**
 * Create the text for the Yes position
 */
.checkboxThree:before {
content: 'Yes';
position: absolute;
top: 12px;
left: 13px;
height: 2px;
color: #111;
font-size: 16px;
}

/**
 * Create the label for the No position
 */
.checkboxThree:after {
content: 'No';
position: absolute;
top: 12px;
left: 84px;
height: 2px;
color: #111;
font-size: 16px;
}

/**
 * Create the pill to click
 */
.checkboxThree label {
display: block;
width: 52px;
height: 22px;
border-radius: 50px;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
-ms-transition: all .5s ease;
transition: all .5s ease;
cursor: pointer;
position: absolute;
top: 9px;
z-index: 1;
left: 12px;
/*background: #ddd;*/
background:rgb(232, 122, 104);
}
/**
 * Create the checkbox event for the label
 */
.checkboxThree input[type=checkbox]:checked + label {
left: 60px;
background: #26ca28;
}
.CPajaxLoader {
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(255,255,255,.85);
    vertical-align: middle;
    text-align: center;
    display: block;
    z-index: 800;
    /*position: absolute;*/
    position:fixed;
   	top:0!important;
    left: 0 !important;
   	padding-top: 15%;
}
</style>




